---
import Featured from "../Projects/WhatShow/Featured.astro"
import NewArrivals from "../Projects/WhatShow/NewArrivals.astro"
import Sale from "../Projects/WhatShow/Sale.astro"
import BestSellers from "../Projects/WhatShow/BestSellers.astro"

---

<section class="flex flex-col justify-center items-start">
    <ul class="flex flex-row flex-wrap justify-start items-center gap-8 px-4 pt-4 border-b-2 border-[#ff46a35d] text-[#5e1e3c] font-medium leading-8
    [&_button]:transition-colors [&_button]:duration-300">
        <li>
            <button id="featured" class="initTitle-1 !font-bold !text-black">Featured</button>
        </li>
        <li>
            <button id="newArrivals" class="initTitle-2">New Arrivals</button>
        </li>
        <li>
            <button id="sale" class="initTitle-3">Sale</button>
        </li>
        <li>
            <button id="bestSellers" class="initTitle-4">Best Sellers</button>
        </li>
    </ul>

    <section class="max-w-3xl overflow-hidden
    [&>article]:opacity-0 [&>article]:transition-opacity [&>article]:duration-500">
        <article class="initText-1 flex !opacity-100">
            <Featured/>
        </article>
        
        <article class="initText-2 hidden flex">
            <NewArrivals/>
        </article>
        
        <article class="initText-3 hidden flex">
            <Sale/>
        </article>

        <article class="initText-4 hidden flex">
            <BestSellers />
        </article>

    </section>
</section>


<script is:inline>
    const $ = selector => document.querySelector(selector)
    const S$ = selector => document.querySelectorAll(selector)

    initTexts = []
    initTitles = []
    
    for (let i = 1; i <= 4; i++) {
        initTexts[`initText${i}`] = $(`.initText-${i}`);
        initTitles[`initTitle${i}`] = $(`.initTitle-${i}`);
    
        if (initTitles[`initTitle${i}`]) {
            initTitles[`initTitle${i}`].addEventListener('click', () => {
    
                // Ocultar todos los initTexts
                for (let j = 1; j <= 4; j++) {
                    initTexts[`initText${j}`].classList.add('hidden');
                    setTimeout(() => {
                        initTexts[`initText${j}`].classList.remove('!opacity-100');
                    }, 100)
                    initTitles[`initTitle${j}`].classList.remove('!text-black');
                    initTitles[`initTitle${j}`].classList.remove('!font-bold');
                }
    
                // Mostrar el initText correspondiente al initTitle clickeado
                initTexts[`initText${i}`].classList.remove('hidden');
                setTimeout(() => {
                    initTexts[`initText${i}`].classList.add('!opacity-100');
                }, 100)
                    initTitles[`initTitle${i}`].classList.add('!text-black');
                    initTitles[`initTitle${i}`].classList.add('!font-bold');
            });
        }
    }
</script>