---
import photo1 from "../assets/images/people/women1.png"
import photo2 from "../assets/images/people/women2.png"
import photo3 from "../assets/images/people/women3.png"
import photo4 from "../assets/images/people/women4.png"
import photo5 from "../assets/images/people/women5.png"
---

<article class="w-full flex flex-col gap-8 justify-center items-start ">

    <header class="">
        <h2 class="text-2xl font-bold">Customer testimonials</h2>
    </header>

    <section class="flex flex-row flex-wrap gap-4 justify-start text-center
[&>article]:max-w-36 [&>article]:flex [&>article]:flex-col [&>article]:gap-4 [&>article]:justify-center [&>article]:items-center 
[&>article>img]:w-full [&>article>img]:h-36 [&>article>img]:rounded-[1000px] 
[&>article>p]:font-bold [&>article>p]:text-black">

        <article>
            <img src={photo1?.src} alt="">
            <p>
                "I've never felt better about my skin." - Jane
            </p>
        </article>
        
        <article>
            <img src={photo2?.src} alt="">
            <p>
                "I've never felt better about my skin." - Jane
            </p>
        </article>
        
        <article>
            <img src={photo3?.src} alt="">
            <p>
                "I've never felt better about my skin." - Jane
            </p>
        </article>
        
        <article>
            <img src={photo4?.src} alt="">
            <p>
                "I've never felt better about my skin." - Jane
            </p>
        </article>
        
        <article>
            <img src={photo5?.src} alt="">
            <p>
                "I've never felt better about my skin." - Jane
            </p>
        </article>

    </section>
</article>