---
import photo6 from "../../../assets/images/people/women6.png"
import photo7 from "../../../assets/images/people/women7.png"

---

<div class="">

    <section class="flex flex-row flex-wrap gap-x-3 gap-y-4 justify-center md:justify-start items-center
    [&>A]:flex [&>A]:flex-col [&>A]:gap-2 [&>A]:justify-center [&>A]:items-start [&>A]:max-w-36
    [&>A>header]:w-full [&_img]:w-full [&_img]:h-52 [&_img]:rounded-lg [&_img]:object-cover [&_img]:brightness-90 [&_img]:transition-all [&_img]:duration-300 hover:[&_img]:brightness-75 [&>A_p]:text-[#a50262]
    ">

        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
                <p class="text-sm">Vitamin C.</p>
            </footer>
        </a>
        
        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
                <p class="text-sm">Vitamin C.</p>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
                <p class="text-sm">Vitamin C.</p>
            </footer>
        </a>
        
        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
                <p class="text-sm">Vitamin C.</p>
            </footer>
        </a>
        
        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
                <p class="text-sm">Vitamin C.</p>
            </footer>
        </a>

    </section>


</div>