---
import photo7 from "../../../assets/images/people/women7.png"
import photo8 from "../../../assets/images/people/women8.png"

---

<div class="">

    <section class="grid grid-cols-2 min-[600px]:flex min-[600px]:flex-row min-[600px]:flex-wrap gap-x-3 gap-y-4 justify-start items-center
    [&>A]:flex [&>A]:flex-col [&>A]:gap-2 [&>A]:justify-center [&>A]:items-start [&>A]:min-[600px]:max-w-36
    [&>A>header]:w-full [&_img]:w-full [&_img]:h-52 [&_img]:rounded-lg [&_img]:object-cover [&_img]:brightness-90 [&_img]:transition-all [&_img]:duration-300 hover:[&_img]:brightness-75
    ">

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo8?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo8?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo8?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Drunk Elephant</h5>
            </footer>
        </a>

    </section>


</div>